<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label text-wrap>
        {{lorem_ipsum | uppercase}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label text-wrap>
        {{lorem_ipsum | titlecase}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        {{lorem_ipsum | lowercase}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        {{birthdate | date: 'dd/MM/yyyy'}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        {{usdollar | number: '2.0-2'}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p [ngStyle]="{'background': isBlue ? 'red': 'green'}"> I am an Attribute Directive</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p [ngClass]="isBlue ? 'blue_bck': 'yellow_bck'"> I am an Attribute Directive</p>
      </ion-label>
    </ion-item>
    <ion-card>
      <ion-img [src]="imgsrc | mypipes"></ion-img>
    </ion-card>
  </ion-list>
</ion-content>